<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Buttons Usage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p>Hackberry Hand has four operational Buttons on the top :</p>
    <ion-img src="/assets/img/learning/buttons-on-hand.png" ></ion-img>
    
    
    <p>They each have two possible behaviors, depending on the type of operation performed on them:</p>
    <ul>
      <li>Short press ( < 1 second)</li>
      <li>Long press ( > 5 seconds)</li>
    </ul>

    

    <ion-card class="pink-card">
      <ion-card-header>
        <ion-card-title>Button 1</ion-card-title>
        <ion-card-subtitle> Sensor Calibration</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Long press Button 1 to start the Sensor Calibration Mode</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="purple-card">
      <ion-card-header>
        <ion-card-title> Button 2</ion-card-title>
        <ion-card-subtitle> Motors Calibration</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Long press Button 2 to start the Servomotors Calibration Mode</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="green-card">
      <ion-card-header>
        <ion-card-title>Button 3</ion-card-title>
        <ion-card-subtitle>Thumb Moves</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Short press Button 3 to open or close the thumb</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="bluesky-card">
      <ion-card-header>
        <ion-card-title> Button 4</ion-card-title>
        <ion-card-subtitle> Lock Fingers</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Short press Button 4 to block or unblock the movement of the last three fingers (middle, ring and ear)</p>
      </ion-card-content>
    </ion-card>
</ion-content>
