<ion-header>
    <ion-toolbar>
      <ion-title>
          {{ 'about' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
          <ion-card-header>
              <ion-img class="circle" style="width: 180px; height: 180px;" src="/assets/img/about/logo-hackberryapp.png" ></ion-img>
          </ion-card-header>
          <ion-card-content>
              <p style="text-align: center;"><i> Version {{ gen.APP_VERSION }}</i></p>
          </ion-card-content>
        </ion-card>

      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>My Hackberry App</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>
                <ion-card>
                  <ion-card-header>
                      <ion-card-title>{{ 'foreword' | translate }}</ion-card-title>
                    </ion-card-header>
                  <ion-card-content class="ion-text-center">
                      <p>{{ 'foreword-1' | translate }}</p>
                      <p>{{ 'foreword-2' | translate }}</p>
                  </ion-card-content>
                </ion-card>

                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{ 'author' | translate }}</ion-card-title>
                      </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <p>{{ 'developped-by' | translate }} Thomas Broussard</p>
                        <p>e-Nable France - 2019</p>
                        <ion-img class="circle" style="width: 80px; height: 80px;" src="/assets/img/about/author.jpg" ></ion-img>
                    </ion-card-content>
                  </ion-card>


                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>{{ 'contributors' | translate}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ul> 
                            <li>Nico Hub </li>
                            <li>Thierry Oquidam</li>
                            <li>Exiii Inc</li>
                        </ul>
                    </ion-card-content>
                  </ion-card>
          </mat-expansion-panel>
       
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <strong>Le projet Hackberry</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              
              <ion-card>
                  <ion-card-content class="ion-text-center">
                      <ion-img style="width: 100%;" src="/assets/img/about/logo-hackberry.jpg" ></ion-img>
                      <p>{{ 'about-hackberry-1' | translate }}</p>
                      <br/>
                      <p>{{ 'about-hackberry-2' | translate }}</p>
                      <ul>
                        <li>{{ 'about-hackberry-2A' | translate }}</li>
                        <br/>
                        <li>{{ 'about-hackberry-2B' | translate }}</li>
                        <br/>
                        <li>{{ 'about-hackberry-2C' | translate }}</li>
                      </ul>
                      <br/>
                      <p>{{ 'about-hackberry-3' | translate }}</p>
                  </ion-card-content>
                </ion-card>
                

            </mat-expansion-panel>
        </mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <strong>e-Nable France</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-card>
                <ion-card-header>
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                    <ion-img style="width: 120px; height: 120px;" src="/assets/img/about/logo-enable-france.png" ></ion-img>
                    <br/>
                    <p>{{ 'about-enable-1' | translate }}</p>
                    <br/>
                    <p>{{ 'about-enable-2' | translate }}</p>
                    <br/>
                    <p>{{ 'about-enable-3' | translate }}</p>
              
                </ion-card-content>
              </ion-card>
          </mat-expansion-panel>
  </ion-content>
  

