<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Motors Calibration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Step 1</h1>
  <p>Long press <b style="color:green;">Button 2</b> to start the Servomotors Calibration Mode</p>
  <ion-img src="/assets/img/learning/motors-calib-button.png"></ion-img>

  <h1>Step 2</h1>
  <p>Once started, the user will have to use buttons 1,2 and 3 to define the stop positions of each of the motors.</p>
  <p>In this mode, the button control is changed:</p>

  <ion-card class="purple-card">
    <ion-card-header>
      <ion-card-title>Button 1 pressed</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>Close the finger(s)</b>
      <ion-img src="/assets/img/learning/motors-calib-moves-close.png"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card class="pink-card">
    <ion-card-header>
      <ion-card-title>Button 3 pressed</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>Open the finger(s)</b>
      <ion-img src="/assets/img/learning/motors-calib-moves-open.png"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card class="green-card">
    <ion-card-header>
      <ion-card-title>Button 2 pressed</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>Validate and save the current position of the finger(s)</b>
    </ion-card-content>
  </ion-card>

  <br />
  <p>For each motor, the user will have to :</p>

  <ul>1. Place the finger(s) concerned in the <b>open</b> position</ul>
  <ul>2. <b style="color:green;">Validate</b> </ul>
  <ul>3. Place the finger(s) concerned in the <b>closed</b> position</ul>
  <ul>4. <b style="color:green;">Validate</b></ul>

  <br />
  <p> <b>Demo :</b></p>
  <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
    <source src="/assets/videos/motors-calibration.mp4" type="video/mp4" />
  </video>

  <br />

  <ion-card class="bluesky-card">
    <ion-card-header>
      <ion-card-title>Calibration order</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color:black;">
      <p><b style="color:green;">1. Thumb</b></p>
      <p><b style="color:blue;">2. Index</b></p>
      <p><b style="color:red;">3. The other fingers <br />(middle, ring and ear)</b></p>

      <br />
      <ion-img src="/assets/img/learning/motors-calib-order.png"></ion-img>
    </ion-card-content>
  </ion-card>

  <p>Once all stops have been defined, the hand will resume normal operation.</p>
</ion-content>