<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Sensor Calibration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Step 1</h1>
    <p>Long press <b style="color:green;">Button 1</b> to start the Sensor Calibration Mode</p>
    <ion-img src="/assets/img/learning/sensor-calib-button.png" ></ion-img>
    
    <h1>Step 2</h1>
    <p>Once started, the user must generate a muscular activity on the sensor for 10 seconds (make the movements necessary to open and close his prosthesis in particular).</p>
    <ion-img src="/assets/img/learning/sensor-calib-moves.png" ></ion-img>
    <p>After 10 seconds, the sensor will be calibrated and the hand will resume normal operation.</p>
</ion-content>
