<ion-header>
    <ion-toolbar>
      <ion-title>
          {{ 'my-hand' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
          <ion-card-title>Welcome to Hackberry</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Now that your hand has been connected, you can drive her easily with the differents controllers below.</p>
        </ion-card-content>
      </ion-card>
      <ion-list lines="none">
        <ion-item routerLink="/my-hand-infos" routerDirection="forward" detail="true">
          <ion-icon  slot="start" color="tertiary" name="grid"  ></ion-icon>
          <ion-label>{{ 'general-info' | translate }}</ion-label>
        </ion-item>
  
        <ion-item routerLink="/my-hand-motors" routerDirection="forward" detail="true">
          <ion-icon slot="start" color="primary"  name="cog" ></ion-icon>
          <ion-label>{{ 'servomotors' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/my-hand-sensor" routerDirection="forward" detail="true">
          <ion-icon slot="start" color="success"  name="analytics" ></ion-icon>
          <ion-label>{{ 'muscle-sensor' | translate }}</ion-label>
        </ion-item>
        
        
  
      </ion-list>
  </ion-content>