<ion-header>
    <ion-toolbar>
      <ion-title>
          {{ 'my-hand' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
        <ion-card-header>
            <ion-img src="/assets/img/my-hand/title-img.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
            
          <p>{{ 'my-hand-description' | translate }}</p>
        </ion-card-content>
      </ion-card>
      <ion-list lines="none">

        <ion-item routerLink="/my-hand-infos" routerDirection="forward" detail="true">
          <ion-icon  slot="start" color="tertiary" name="grid"  ></ion-icon>
          <ion-label>{{ 'general-info' | translate }}</ion-label>
        </ion-item>
        <br/>
        <ion-item routerLink="/my-hand-motors" routerDirection="forward" detail="true">
          <ion-icon slot="start" color="primary"  name="cog" ></ion-icon>
          <ion-label>{{ 'motors' | translate }}</ion-label>
        </ion-item>

        <ion-item routerLink="/my-hand-motors-calib" routerDirection="forward" detail="true">
          <ion-icon slot="start" color="primary"  name="speedometer" ></ion-icon>
          <ion-label>{{ 'motors-calibration' | translate }}</ion-label>
        </ion-item>
        <br/>
        <ion-item routerLink="/my-hand-sensor" routerDirection="forward" detail="true">
          <ion-icon slot="start" color="success"  name="stats" ></ion-icon>
          <ion-label>{{ 'muscle-sensor' | translate }}</ion-label>
        </ion-item>

        <ion-item routerLink="/my-hand-sensor-calib" routerDirection="forward" detail="true">
          <ion-icon slot="start" color="success"  name="pulse" ></ion-icon>
          <ion-label>{{ 'sensor-calibration' | translate }}</ion-label>
        </ion-item>
      </ion-list>
  </ion-content>