<ion-header>
  <ion-toolbar>
    <ion-title>
      Learning Index
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title> Documentation </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You'll find here all the useful documentation for Hackberry hand usage.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">

    <ion-item>
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Assembly Guide</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="compass"></ion-icon>
      <ion-label>User Guide</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="switch"></ion-icon>
      <ion-label>Buttons Usage</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="hammer"></ion-icon>
      <ion-label>Setup your Hand</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="pulse"></ion-icon>
      <ion-label>Sensor Calibration</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="speedometer"></ion-icon>
      <ion-label>Motors Calibration</ion-label>
    </ion-item>
  </ion-list>
</ion-content>