<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>{{ 'motors-calibration' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content scroll-y="false">
    <ion-slides pager="true" [options]="sliderConfig" #slides>

      <!--
        ##########################################################
                              THUMB OPEN
        ##########################################################
      -->
        <ion-slide class="step-one">
            <ion-img src="assets/img/my-hand/icon_thumb.png"></ion-img>
            <h1>{{ 'thumb' | translate }}</h1>
            <p>{{ 'move-open' | translate }}</p>
            <br/>

            <p>{{thumb.open}}°</p>
                
            <ion-range (ionChange)="moveRange(gen.THUMB, true , $event)" debounce="500" min="0" max="180" value="{{thumb.open}}" pin color="tertiary">
                <ion-icon name="remove-circle"(click)="decrementRange(gen.THUMB, true)" slot="start"></ion-icon>
                <ion-icon name="add-circle"(click)="incrementRange(gen.THUMB, true)" slot="end"></ion-icon>
            </ion-range>     

            <ion-button color="tertiary" (click)="next()">{{ 'set-open-pos' | translate }}</ion-button>
            <br/>
            <ion-button color="danger" (click)="prevStep()">{{ 'back' | translate }}</ion-button>
            <ion-button color="medium" (click)="skip()">{{ 'skip' | translate }}</ion-button>
        </ion-slide>

      <!--
        ##########################################################
                              THUMB CLOSE
        ##########################################################
      -->
        <ion-slide class="step-one">
            <ion-img src="assets/img/my-hand/icon_thumb.png"></ion-img>
            <h1>{{ 'thumb' | translate }}</h1>
            <p>{{ 'move-close' | translate }}</p>
            <br/>

            <p>{{thumb.close}}°</p>
                
            <ion-range (ionChange)="moveRange(gen.THUMB, false , $event)" debounce="500" min="0" max="180" value="{{thumb.close}}" pin color="tertiary">
                <ion-icon name="remove-circle"(click)="decrementRange(gen.THUMB, false)" slot="start"></ion-icon>
                <ion-icon name="add-circle"(click)="incrementRange(gen.THUMB, false)" slot="end"></ion-icon>
            </ion-range>     

            <ion-button color="tertiary" (click)="next()">{{ 'set-close-pos' | translate }}</ion-button>
            <br/>
            <ion-button color="danger" (click)="prevStep()">{{ 'back' | translate }}</ion-button>
            <ion-button color="medium" (click)="skip()">{{ 'skip' | translate }}</ion-button>
        </ion-slide>


      <!--
        ##########################################################
                              INDEX OPEN
        ##########################################################
      -->
      <ion-slide class="step-two">
          <ion-img src="assets/img/my-hand/icon_index.png"></ion-img>
          <h1>{{ 'index' | translate }}</h1>
            <p>{{ 'move-open' | translate }}</p>
          <br/>

          <p>{{index.open}}°</p>
              
          <ion-range (ionChange)="moveRange(gen.INDEX, true , $event)" debounce="500" min="0" max="180" value="{{index.open}}" pin color="tertiary">
              <ion-icon name="remove-circle"(click)="decrementRange(gen.INDEX, true)" slot="start"></ion-icon>
              <ion-icon name="add-circle"(click)="incrementRange(gen.INDEX, true)" slot="end"></ion-icon>
          </ion-range>     

          <ion-button color="tertiary" (click)="next()">{{ 'set-open-pos' | translate }}</ion-button>
          <br/>
          <ion-button color="danger" (click)="prevStep()">{{ 'back' | translate }}</ion-button>
          <ion-button color="medium" (click)="skip()">{{ 'skip' | translate }}</ion-button>
      </ion-slide>

    <!--
      ##########################################################
                            INDEX CLOSE
      ##########################################################
    -->
      <ion-slide class="step-two">
          <ion-img src="assets/img/my-hand/icon_index.png"></ion-img>
          <h1>{{ 'index' | translate }}</h1>
            <p>{{ 'move-close' | translate }}</p>
          <br/>

          <p>{{index.close}}°</p>
              
          <ion-range (ionChange)="moveRange(gen.INDEX, false , $event)" debounce="500" min="0" max="180" value="{{index.close}}" pin color="tertiary">
              <ion-icon name="remove-circle"(click)="decrementRange(gen.INDEX, false)" slot="start"></ion-icon>
              <ion-icon name="add-circle"(click)="incrementRange(gen.INDEX, false)" slot="end"></ion-icon>
          </ion-range>     

          <ion-button color="tertiary" (click)="next()">{{ 'set-close-pos' | translate }}</ion-button>
          <br/>
          <ion-button color="danger" (click)="prevStep()">{{ 'back' | translate }}</ion-button>
          <ion-button color="medium" (click)="skip()">{{ 'skip' | translate }}</ion-button>
      </ion-slide>

      <!--
        ##########################################################
                              FINGERS OPEN
        ##########################################################
      -->
      <ion-slide class="step-three">
          <ion-img src="assets/img/my-hand/icon_fingers.png"></ion-img>
          <h1>{{ 'fingers' | translate }}</h1>
            <p>{{ 'move-open' | translate }}</p>
          <br/>

          <p>{{fingers.open}}°</p>
              
          <ion-range (ionChange)="moveRange(gen.FINGERS, true , $event)" debounce="500" min="0" max="180" value="{{fingers.open}}" pin color="tertiary">
              <ion-icon name="remove-circle"(click)="decrementRange(gen.FINGERS, true)" slot="start"></ion-icon>
              <ion-icon name="add-circle"(click)="incrementRange(gen.FINGERS, true)" slot="end"></ion-icon>
          </ion-range>     

          <ion-button color="tertiary" (click)="next()">{{ 'set-open-pos' | translate }}</ion-button>
          <br/>
          <ion-button color="danger" (click)="prevStep()">{{ 'back' | translate }}</ion-button>
          <ion-button color="medium" (click)="skip()">{{ 'skip' | translate }}</ion-button>
      </ion-slide>

    <!--
      ##########################################################
                            FINGERS CLOSE
      ##########################################################
    -->
      <ion-slide class="step-three">
          <ion-img src="assets/img/my-hand/icon_fingers.png"></ion-img>
          <h1>{{ 'fingers' | translate }}</h1>
            <p>{{ 'move-close' | translate }}</p>
          <br/>

          <p>{{fingers.close}}°</p>
              
          <ion-range (ionChange)="moveRange(gen.FINGERS, false , $event)" debounce="500" min="0" max="180" value="{{fingers.close}}" pin color="tertiary">
              <ion-icon name="remove-circle"(click)="decrementRange(gen.FINGERS, false)" slot="start"></ion-icon>
              <ion-icon name="add-circle"(click)="incrementRange(gen.FINGERS, false)" slot="end"></ion-icon>
          </ion-range>     

          <ion-button color="tertiary" (click)="next()">{{ 'set-close-pos' | translate }}</ion-button>
          <br/>
          <ion-button color="danger" (click)="prevStep()">{{ 'back' | translate }}</ion-button>
          <ion-button color="medium" (click)="skip()">{{ 'skip' | translate }}</ion-button>
      </ion-slide>


    </ion-slides>
  </ion-content>