<ion-header>
    <ion-toolbar>
      <ion-title>
          {{ 'learning' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
          <ion-img src="/assets/img/learning/title-img.jpg"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p> {{ 'learning-description' | translate }}</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">

      <!-- ##################################################### -->
      <!-- ASSEMBLY GUIDE -->
      <!-- ##################################################### -->
      <ion-item (click)="openDoc('assembly-guide')" routerDirection="forward"  detail="true">
        <ion-icon slot="start" color="primary" name="build"></ion-icon>
        <ion-label>{{ 'assembly-guide' | translate }}</ion-label>
      </ion-item>

      <!-- ##################################################### -->
      <!-- SETUP GUIDE -->
      <!-- ##################################################### -->
      <ion-item routerLink="/learning-setup-hand"  detail="true">
          <ion-icon slot="start" color="primary" name="hammer"></ion-icon>
          <ion-label>{{ 'setup-hand' | translate }}</ion-label>
        </ion-item>     

      <!-- ##################################################### -->
      <!-- BUTTONS USAGE -->
      <!-- ##################################################### -->
      <ion-item routerLink="/learning-buttons-usage" routerDirection="forward"  detail="true">
        <ion-icon slot="start" color="success" name="switch"></ion-icon>
        <ion-label>{{ 'buttons-usage' | translate }}</ion-label>
      </ion-item>

      <!-- ##################################################### -->
      <!-- SENSOR CALIBRATION -->
      <!-- ##################################################### -->
      <ion-item routerLink="/learning-sensor-calib" routerDirection="forward" detail="true">
        <ion-icon slot="start" color="tertiary" name="pulse"></ion-icon>
        <ion-label>{{ 'sensor-calibration' | translate }}</ion-label>
      </ion-item>

      <!-- ##################################################### -->
      <!-- MOTORS CALIBRATION -->
      <!-- ##################################################### -->
      <ion-item routerLink="/learning-motors-calib" routerDirection="forward" detail="true">
        <ion-icon slot="start" color="tertiary" name="speedometer"></ion-icon>
        <ion-label>{{ 'motors-calibration' | translate }}</ion-label>
      </ion-item>


    </ion-list>
  </ion-content>