<ion-header>
    <ion-toolbar>
      <ion-title>
          {{ 'learning' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
          <ion-img src="/assets/img/learning/title-img.jpg"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p> {{ 'learning-description' | translate }}</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">

      <ion-item *ngFor="let doc of docList" (click)="openDoc(doc.filename)"  detail="true">
          <ion-icon slot="start" [color]="doc.color" [name]="doc.icon"></ion-icon>

          <ion-label *ngIf="countryCode == 'en'">{{ doc.title_en }}</ion-label>
          <ion-label *ngIf="countryCode == 'fr'">{{ doc.title_fr }}</ion-label>
          <ion-label *ngIf="countryCode == 'jp'">{{ doc.title_jp }}</ion-label>
      </ion-item>

      <!--<ion-button expand="block" color="primary" (click)="refreshDocs()"><ion-icon name="refresh"></ion-icon> Refresh</ion-button>-->

    </ion-list>
  </ion-content>