<ion-header>
    <ion-toolbar>
  <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
  </ion-buttons>

    <ion-title>{{ 'muscle-sensor' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br/>
  <canvas #lineCanvas height="100" width="100">
    </canvas>
</ion-content>

<ion-footer no-shadow>
	<ion-toolbar position="bottom">
      <ion-button expand="block" *ngIf="isPlaying" color="primary" (click)="onClickPause()"><ion-icon name="pause"></ion-icon></ion-button>
      <ion-button expand="block" *ngIf="!isPlaying" color="primary" (click)="onClickPlay()"><ion-icon name="play"></ion-icon></ion-button>

      <ion-button expand="block" color="danger" (click)="onClickClear()">{{ 'clear' | translate }}</ion-button>
      <br/>
      <ion-button expand="block" *ngIf="!isMoving" color="warning" (click)="onClickEnableMoves()">{{ 'moves-disabled' | translate }}</ion-button>
      <ion-button expand="block" *ngIf="isMoving" color="success" (click)="onClickDisableMoves()">{{ 'moves-enabled' | translate }}</ion-button>

	</ion-toolbar>
</ion-footer>