<ion-header>
    <ion-toolbar>
  <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
  </ion-buttons>

    <ion-title>Sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <canvas #lineCanvas height="100" width="100">
    </canvas>

</ion-content>

<ion-footer no-shadow>
	<ion-toolbar position="bottom">
      <ion-button expand="block" *ngIf="isPlaying" color="warning" (click)="onClickPause()"><ion-icon name="pause"></ion-icon></ion-button>
      <ion-button expand="block" *ngIf="!isPlaying" color="success" (click)="onClickPlay()"><ion-icon name="play"></ion-icon></ion-button>

      <ion-button expand="block" color="danger" (click)="onClickClear()">Clear</ion-button>
		<ion-button expand="block" color="primary" (click)="onClickCalib()">Calibrate</ion-button>
	</ion-toolbar>
</ion-footer>