<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>Setup Hand</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
 <h1>Mise en place de la batterie</h1>

 <ion-card class="bluesky-card">
  <ion-card-header>
    <ion-card-title>1. Accès</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <p>Ouvrir le <b style="color:#986027;">capot (1)</b> situé sur le <b style="color:#238089;">bras (2)</b></p>
  <ion-img src="/assets/img/learning/setup-hand/close-arm.png"></ion-img>
  <br/>
  <p>Vous découvrez le logement de la batterie :</p>
  <ion-img src="/assets/img/learning/setup-hand/battery-slot.png"></ion-img>

  <ul>
    <li style="color:red;">(1) Crochets de maintien</li>
    <li style="color:magenta">(2) Plots de contact</li>
  </ul>
  </ion-card-content>
</ion-card>

  


  

  <ion-card class="bluesky-card">
    <ion-card-header>
      <ion-card-title>2. Insérer la batterie</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b style="color:red;">Faire coulisser la batterie (1)</b> dans le logement prévu jusqu'à entendre le <b style="color:red;">"click" de verrouillage (2)</b></p>
      <ion-img src="/assets/img/learning/setup-hand/insert-battery.png"></ion-img>
    </ion-card-content>
  </ion-card>
  

</ion-content>
