<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>Setup Hand</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
 <h1>Setting up the battery</h1>

 <ion-card class="bluesky-card">
  <ion-card-header>
    <ion-card-title>1. Access</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <p>Open the <b style="color:#986027;">hood (1)</b> located on the <b style="color:#238089;">arm (2)</b></p>
  <ion-img src="/assets/img/learning/setup-hand/close-arm.png"></ion-img>
  <br/>
  <p>You discover the housing for the battery :</p>
  <ion-img src="/assets/img/learning/setup-hand/battery-slot.png"></ion-img>

  <ul>
    <li style="color:red;">(1) Support hooks</li>
    <li style="color:magenta">(2) Contact pins</li>
  </ul>
  </ion-card-content>
</ion-card>

  <ion-card class="bluesky-card">
    <ion-card-header>
      <ion-card-title>2. Insert the battery</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b style="color:red;">Slide the battery (1)</b> into the housing until your hear <b style="color:red;">the locking "click" (2)</b></p>
      <ion-img src="/assets/img/learning/setup-hand/insert-battery.png"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
