<ion-header>
    <ion-toolbar>
      
      <ion-title>
          {{ 'home' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="welcome-card">
        <ion-card-content>
            <ion-img src="/assets/img/home/title-img.jpg"></ion-img>
        </ion-card-content>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title> Welcome !  </ion-card-title>
      </ion-card-header>
      
    </ion-card>
    <ion-list lines="none">
  
  
        <ion-item *ngIf="!bluetooth.isConnected" >
          <ion-icon slot="start" color="danger" name="close" ></ion-icon>
          <ion-label>{{ 'not-connected' | translate }} </ion-label>
        </ion-item>

      <ion-item *ngIf="!bluetooth.isConnected" routerLink="/bluetooth-connect" routerDirection="forward" detail="true">
        <ion-icon slot="start" color="primary" name="bluetooth" ></ion-icon>
        <ion-label>{{ 'connect' | translate }} Hackberry</ion-label>
      </ion-item>




      <ion-item *ngIf="bluetooth.isConnected">  
      <ion-icon slot="start" color="success" name="checkmark" ></ion-icon>
      <ion-label>
          <h3> {{ 'connected' | translate }} - {{ bluetooth.deviceName }}</h3>
          <p>{{ bluetooth.deviceId }}</p>
      </ion-label>
      </ion-item>

      <ion-item *ngIf="bluetooth.isConnected" detail="true" (click)="bluetooth.disconnect()">
        <ion-icon slot="start" color="medium" name="bluetooth" ></ion-icon>
        <ion-label>{{ 'disconnect' | translate }} Hackberry</ion-label>
      </ion-item>


  
      
    
    </ion-list>
  </ion-content>

  <ion-footer no-shadow>
      <ion-item (click)="gen.closeApp()">
          <ion-icon slot="start" color="danger" name="log-out"></ion-icon>
          <ion-label>{{ 'exit-app' | translate }}</ion-label>
        </ion-item>
    </ion-footer>