  <ion-header>
    <ion-toolbar>
      
      <ion-title>
          {{ 'home' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!--
    <ion-card class="welcome-card">
        <ion-card-content>
            <ion-img src="/assets/img/home/title-img.jpg"></ion-img>
        </ion-card-content>
    </ion-card>
    -->
    <ion-list lines="none">
      
      <ion-item  detail="false">
      <ion-img src="/assets/img/home/title-img.jpg"></ion-img>
      </ion-item>
  
      <!-- Connect to bluetooth -->
      <ion-item *ngIf="!bluetooth._isConnected" routerLink="/bluetooth-connect" routerDirection="forward" detail="true">
        <ion-icon slot="start" color="primary" name="bluetooth" ></ion-icon>
        <ion-label>{{ 'connect' | translate }} Hackberry</ion-label>
      </ion-item>

      <ion-item *ngIf="bluetooth._isConnected" detail="true" (click)="bluetooth.disconnect()">
        <ion-icon slot="start" color="medium" name="bluetooth" ></ion-icon>
        <ion-label>{{ 'disconnect' | translate }} Hackberry</ion-label>
      </ion-item>


      <!-- Bluetooth status -->
      <ion-item *ngIf="!bluetooth._isConnected" >
        <ion-icon slot="start" color="danger" name="close" ></ion-icon>
        <ion-label>{{ 'not-connected' | translate }} </ion-label>
      </ion-item>

      <ion-item *ngIf="bluetooth._isConnected">  
        <ion-icon slot="start" color="success" name="checkmark" ></ion-icon>
        <ion-label>
            <h3> {{ 'connected' | translate }} - {{ bluetooth.currentDevice.getName() }}</h3>
            <p>{{ bluetooth.currentDevice.getId() }}</p>
        </ion-label>
        </ion-item>

        <!-- App settings -->
        <ion-item routerLink="/settings" routerDirection="forward" detail="true">
          <ion-icon slot="start" color="medium" name="settings"></ion-icon>
          <ion-label>{{ 'settings' | translate }}</ion-label>
        </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer no-shadow>
      <ion-item (click)="gen.closeApp()">
          <ion-icon slot="start" color="danger" name="log-out"></ion-icon>
          <ion-label>{{ 'exit-app' | translate }}</ion-label>
        </ion-item>
    </ion-footer>