<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
              <ion-back-button></ion-back-button>
        </ion-buttons>
          <ion-title>{{ 'muscle-sensor' | translate }}</ion-title>
        </ion-toolbar>
</ion-header>

<ion-content>
    <p>{{ 'sensor-calib-1' | translate }}</p>
    <p>{{ 'sensor-calib-2' | translate }} <ion-badge color="primary">{{ 'calibrate' | translate }}</ion-badge> {{ 'sensor-calib-3' | translate }}</p>
    <p>{{ 'sensor-calib-4' | translate }}</p>
    <p>{{ 'sensor-calib-5' | translate }}</p>
    <ion-img src="/assets/img/learning/sensor-calib-moves.png" ></ion-img>
</ion-content>


<ion-footer no-shadow>
    <ion-toolbar position="bottom">
        <ion-button expand="block" color="primary" (click)="onClickCalib()">{{ 'calibrate' | translate }}</ion-button>
    </ion-toolbar>
  </ion-footer>