<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="masters">

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header  class="buttons-usage-panel">
        <mat-panel-title>
          1. Buttons Usage
        </mat-panel-title>
      </mat-expansion-panel-header>

      
    </mat-expansion-panel>




    <mat-expansion-panel>
      <mat-expansion-panel-header class="sensor-calib-panel">
        <mat-panel-title>
          2. Sensor Calibration
        </mat-panel-title>
      </mat-expansion-panel-header>


      
      

    </mat-expansion-panel>



    <mat-expansion-panel>
        <mat-expansion-panel-header class="motors-calib-panel">
          <mat-panel-title>
            3. Motors Calibration 
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        

      </mat-expansion-panel>
          
  </mat-accordion>

<!--
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Buttons Usage </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You'll find here all the useful documentation for Hackberry hand usage.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Sensor Calibration </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You'll find here all the useful documentation for Hackberry hand usage.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Motors Calibration </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You'll find here all the useful documentation for Hackberry hand usage.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Buttons Usage </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You'll find here all the useful documentation for Hackberry hand usage.</p>
    </ion-card-content>
  </ion-card>

-->
</ion-content>