<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          1. Buttons Usage
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Hackberry Hand has four operational Buttons on the top :</p>
      <ion-img width="20" height="20" src="/assets/img/learning/buttons-on-hand.png" ></ion-img>
      
      
      <p>They each have two possible behaviors, depending on the type of operation performed on them:</p>
      <ul>
        <li>Short press ( < 1 second)</li>
        <li>Long press ( > 5 seconds)</li>
      </ul>

      
      <h2><b>Button 1</b></h2>
      <p>Long press Button 1 to start the Sensor Calibration Mode</p>

      <h2><b>Button 2</b></h2>
      <p>Long press Button 2 to start the Servomotors Calibration Mode</p>

      <h2><b>Button 3</b></h2>
      <p>Short press Button 3 to open or close the thumb</p>

      <h2><b>Button 4</b></h2>
      <p>Short press Button 4 to block or unblock the movement of the last three fingers (middle, ring and ear)</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2. Sensor Calibration
        </mat-panel-title>
      </mat-expansion-panel-header>

      Hello World
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            3. Motors Calibration 
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        Hello World
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Buttons Usage
            </mat-panel-title>
          </mat-expansion-panel-header>
    
          Hello World
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Buttons Usage
              </mat-panel-title>
            </mat-expansion-panel-header>
      
            Hello World
          </mat-expansion-panel>
          
  </mat-accordion>

<!--
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Buttons Usage </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You'll find here all the useful documentation for Hackberry hand usage.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Sensor Calibration </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You'll find here all the useful documentation for Hackberry hand usage.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Motors Calibration </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You'll find here all the useful documentation for Hackberry hand usage.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Buttons Usage </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You'll find here all the useful documentation for Hackberry hand usage.</p>
    </ion-card-content>
  </ion-card>

-->
</ion-content>