<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>{{ 'settings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

    <!-- ##################################################### -->
    <!-- LANGUAGE -->
    <!-- ##################################################### -->
    <ion-item detail="false">
      <ion-icon slot="start" color="tertiary" name="flag"></ion-icon>
      <ion-label>{{ 'language' | translate }}</ion-label>
      <ion-select placeholder="Select" (ionChange)="onLanguageChange($event)">
        <ion-select-option value="fr" [selected]="isCountrySelected('fr')">{{ 'french' | translate }}</ion-select-option>
        <ion-select-option value="en" [selected]="isCountrySelected('en')">{{ 'english' | translate }}</ion-select-option>
        <ion-select-option value="jp" [selected]="isCountrySelected('jp')">{{ 'japanese' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <br/>

    <ion-button *ngIf="gen.isConnectedToInternet() && isUpdateAvailable" expand="block" color="primary" (click)="downloadAllDocs()">{{ 'update-docs' | translate }}</ion-button>
    <ion-button *ngIf="!gen.isConnectedToInternet()" expand="block" color="medium">{{ 'no-update-docs' | translate }}</ion-button>
    <ion-button *ngIf="gen.isConnectedToInternet()  && !isUpdateAvailable" expand="block" color="success">{{ 'update-ok' | translate }}</ion-button>
    <br/>

    <ion-button  expand="block" color="danger" (click)="deleteAllDocs()">{{ 'delete-docs' | translate }}</ion-button>
  </ion-list>
</ion-content>

