<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

    <!-- ##################################################### -->
    <!-- LANGUAGE -->
    <!-- ##################################################### -->
    <ion-item routerDirection="forward"  detail="false">
      <ion-icon slot="start" color="tertiary" name="flag"></ion-icon>
      <ion-label>Language</ion-label>
      <ion-select placeholder="Select" (ionChange)="onLanguageChange($event)">
        <ion-select-option value="fr" [selected]="isCountrySelected('fr')">French</ion-select-option>
        <ion-select-option value="en" [selected]="isCountrySelected('en')">English</ion-select-option>
        <ion-select-option value="jp" [selected]="isCountrySelected('jp')">Japanese</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>
